<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>controller.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveFormServlet</servlet-name>
        <servlet-class>controller.LeaveFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitLeaveServlet</servlet-name>
        <servlet-class>controller.SubmitLeaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/UserListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveFormServlet</servlet-name>
        <url-pattern>/LeaveFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitLeaveServlet</servlet-name>
        <url-pattern>/SubmitLeaveServlet</url-pattern>
    </servlet-mapping>
</web-app>
